.d-fulcrum__form {

    .form-check-input {

        &:checked {
            background: none;
        }
    }

    .form-switch {
        .form-check-input {
            width: 15px;
            border: none;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;

            &:checked {

                &:before {
                    height: auto;
                    width: 100%;
                    margin: 0;
                }
            }
        }
    }


    .form-select {
        width: 100%;
        max-width: 100% !important;
    }

    .list-group {
        flex-direction: row;
    }
}