.d-fulcrum__form {

    .form-check-input {

        &:checked {
            background: none;
        }
    }

    .invalid {

        background: rgba(170, 50, 50, .35) !important;

        &:before {
            content: '* Please fill out / make a selection for this field';
            font-size: 16px;
            position: relative;
            display: inline-block;
            width: 100%;
            padding: 10px;
            color: #EE2424;
        }
        label {
            font-weight: bold;
            color: #EE2424;
        }

    }

    .form-switch {
        .form-check-input {
            width: 15px;
            border: none;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;

            &:checked {

                &:before {
                    height: auto;
                    width: 100%;
                    margin: 0;
                }
            }
        }
    }


    .form-select {
        width: 100%;
        max-width: 100% !important;
    }

    .list-group {
        flex-direction: row;
    }
}