.d-pcs {
    .pcs-actions-bar {
        h3 {
            padding: 0px 50px;
        }
    }
    .pcs-options {
        display: flex;
        width: 100%;
        padding: 25px;
        justify-content: center;
        align-items: center;

        .btn-group {

        }
    }
}